<!doctype html>

<head>

	<meta charset="utf-8">

	<title>{{ page.project-name }}</title>
	<meta name="author" content="{{ page.author }}" />
	<meta name="description" content="" />

	<meta name="Copyright" content="{{ page.author }}" />

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/assets/css/reset.css" />
	<link rel="stylesheet" href="/assets/css/style.css" />

	<meta name="twitter:card" content="">
	<meta name="twitter:site" content="">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:url" content="">

	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />
	
	<link href="https://fonts.googleapis.com/css?family=Lato:900|Merriweather:400,400i" rel="stylesheet">

</head>

<body id="home">

	<header>

		<a href="/" id="tlatoy-logo">{% include svg/logo.svg %}</a>
		
		{% include layout/header-nav.html %}

	</header>
	
	<div id="posts">
		{% for post in site.posts %}
			{% if post.layout != "part-two" %}
			<div class="post-wrapper">
				<a href="{{post.url}}" style="background-color: {{post.color2}}; fill: {{post.color1}}; color: {{post.color1}}">
					<span></span>
					<h1 class="post-title">{{ post.title | uppercase }}</h1>
					<span>
						{{post.date | date: '%B %e, %Y'}}
					</span>
				</a>
			</div>
			{% endif %}
		{% endfor %}
	</div>
	
	<nav id="bottom-nav">
		<ol>
			<li><a href="about.html" id="about-link">{% include svg/info.svg %}</a></li>
			<li><a href="https://twitter.com/lifetimesyou" id="twitter-link">{% include svg/twitter.svg %}</a></li>
			<li><a href="https://www.facebook.com/thelifeandtimesofyou" id="facebook-link">{% include svg/facebook.svg %}</a></li>
		</ol>
	</nav>

<script src="assets/js/functions.js"></script>

</body>
</html>