<!doctype html>

<head>
	{% include layout/head.html %}
	
	<style>
		#second-part {
			display: none;
		}
		#button-top svg {
			fill: rgb({{ page.main-color-2 }});
		}
	</style>
</head>

<body id="post">

	{% include layout/header-nav.html %}
	
	<div id="title-container">
		<h1>{{ page.title }}</h1>
	</div>
	
	<button id="button-top" style="display: none" onclick="toggleParts()">{% include svg/arrow-down.svg %}</button>
	<article>
		{{ content }}
	</article>
	<span style="display: none" id="date">{{page.date | date: '%B %d, %Y'}}</span>
	<button id="button-bottom" onclick="toggleParts()">{% include svg/arrow-down.svg %}</button>

<script src="{{site.baseurl}}/assets/js/functions.js"></script>

<script>
	var article = document.getElementsByTagName("article")[0]
	var children = []
	var firstPart = document.createElement("DIV")
	firstPart.setAttribute("id", "first-part")
	var secondPart = document.createElement("DIV")
	secondPart.setAttribute("id", "second-part")
	
	for (var i = 1; i < article.childNodes.length; i += 2) {
    	children.push(article.childNodes[i])
	}
	
	function findRule(element) {
		return element.tagName == "HR"
	}
	
	var hr = children.findIndex(findRule)

	for (var i = 0; i < hr; i++) {
    	firstPart.appendChild(children[i])
	}
	
	for (var i = hr + 1; i < children.length; i++) {
    	secondPart.appendChild(children[i])
	}
	
	article.innerHTML = ""
	
	article.appendChild(firstPart)
	article.appendChild(secondPart)
	
	var showingSecondPart = false
	
	function toggleParts() {
		if (showingSecondPart) {
			firstPart.style.display = null
			secondPart.style.display = null
			document.getElementById("title-container").style.display = null
			document.body.style.background = null
			document.body.style.color = null
			document.getElementsByTagName("html")[0].style.background = null
			document.getElementById("logo-svg").style.fill = null
			document.getElementById("play-button").style.fill = null
			document.getElementById("pause-button").style.fill = null
			document.getElementById("about-icon").style.fill = null
			document.getElementById("button-top").style.display = "none"
			document.getElementById("button-bottom").style.display = "block"
			document.getElementById("audio-controls").style.borderColor = null
			window.scrollTo(0, document.body.scrollHeight)
			
			document.getElementById("player").setAttribute("src", "{{site.baseurl}}/assets/mp3/{{ page.id }}.mp3")
			document.getElementById("player").play()
			
			document.getElementById("date").style.display = "none"
			
			showingSecondPart = false
		} else {
			firstPart.style.display = "none"
			secondPart.style.display = "block"
			document.getElementById("title-container").style.display = "none"
			
			{% if page.bg-sec-color-2 == "" or page.bg-sec-color-2 == nil %}
				document.body.style.background = "rgb({{ page.bg-color-2 }})"
			{% else %}
				document.body.style.background = "-webkit-linear-gradient(rgb({{ page.bg-color-2 }}) 0%, rgb({{ page.bg-sec-color-2 }}) 100%)"
			{% endif %}
			
			document.getElementsByTagName("html")[0].style.background = "rgb({{ page.bg-color-2 }})"	
			document.body.style.color = "rgb({{ page.main-color-2 }})"
			document.getElementById("logo-svg").style.fill = "rgb({{ page.main-color-2 }})"
			document.getElementById("play-button").style.fill = "rgb({{ page.main-color-2 }})"
			document.getElementById("pause-button").style.fill = "rgb({{ page.main-color-2 }})"
			document.getElementById("about-icon").style.fill = "rgb({{ page.main-color-2 }})"
			document.getElementById("button-top").style.display = "block"
			document.getElementById("button-bottom").style.display = "none"
			document.getElementById("audio-controls").style.borderColor = "rgba({{ page.main-color-2 }}, 0.2)"
			document.body.scrollTop = document.documentElement.scrollTop = 0
			
			document.getElementById("player").setAttribute("src", "{{site.baseurl}}/assets/mp3/{{ page.id }}-2.mp3")
			document.getElementById("player").play()
			
			document.getElementById("date").style.display = "block"
			
			showingSecondPart = true
		}
	}	
</script>

</body>
</html>