---
---

::selection {
	color: #FAFAFA;
	background-color: #666666;
}

body {
	font-family: 'Merriweather', serif;
	font-size: 24px;
	background-color: #FAFAFA;
	color: #666666;
}

p {
	line-height: 1.6em;
	a {
		text-decoration: none;
		color: #666666;
		border-bottom: 2px solid #c0c0c0;
	}
}

svg {
	display: block;
}

#pause-button {
	display: none;
}

header {
	padding: 1em 1em .8em;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	
	#tlatoy-logo {
		width: 5.3em;
		height: 5.3em;
	}
	
	#audio-controls {
		cursor: pointer;
		svg {
			width: 1.8em;
			height: 1.8em;
			fill: #B2B2B2;
		}
	}
	
	#right-side {
		display: flex;
		align-items: center;
		#audio-controls {
			padding-left: 1.1em;
			margin-left: 0.65em;
			border-left: 3px solid #F2F2F2;
		}
	}
}

nav {
	ol {
		list-style: none;
		display: flex;
		align-items: center;
	}
	li {
		display: inline-block;
		margin: 0 0.65em;
	}
	#about-link svg {
		width: 1.25em;
		height: 1.25em;
	}
	#twitter-link svg {
		width: 1.25em;
		height: 1em;
	}
	#facebook-link svg {
		width: 1.1em;
		height:	1.1em;		
	}
}

#bottom-nav {
	display: none;
	margin: 2em 1em;
	ol {
		justify-content: center;
	}
}

#posts {
	flex-grow: 1;
	display: flex;
	height: 100%;
	flex-wrap: wrap;
	text-align: center;
	margin: 0 0.8em 1em;
	
	.post-wrapper {
		padding: .2em;
		width: 33.3%;
	}
	
	.post-wrapper:first-child {
		width: 66.6%;
	}

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-decoration: none;
		color: inherit;
		padding: 2em;
		height: 10em;
		
		border: 1px solid rgba(0, 0, 0, 0.05);
	}
	
	h1 {
		font-family: "Lato", sans-serif;
		font-weight: 900;
		font-size: 3vw;
	}
	
	span {
		font-size: .6em;
		opacity: .5;
		padding-top: 1em;
		font-family: "Lato", sans-serif;
		font-weight: 900;
	}
}

#post {
	header {
		position: fixed;
		width: 100%;
	}
	
	#title {
		height: 88vh;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 8vw;
		font-family: "Lato", sans-serif;
		font-weight: 900;
		padding-top: 1.2em;
	}
		
	article {
		line-height: 1.5em;
		max-width: 30em;
		margin: 0 auto;
		padding: 1em;
		
		p {
			padding-bottom: 1em;
		}
	}
	
	#date {
		text-align: center;
		font-size: .75em;
		display: block;
		opacity: .5;
		padding: 5em 0 8em;
		font-family: "Lato", sans-serif;
		font-weight: 900;
	}
}

button {
	display: block;
	margin: 0 auto;
	padding: 6em 0 12em;
	border: none;
	background: none;
	outline: none;
}

#button-top svg {
	transform: rotate(180deg)
}

@media screen and (max-width: 1024px) {
	
#post {
	header {
		position: static;
	}
	#title {
		height: 62vh;
		padding-top: 0;
		padding-bottom: 0.8em;
	}
}

#posts {
	.post-wrapper {
		width: 50%;
	}
	.post-wrapper:first-child {
		width: 100%;
	}
	h1 {
		font-size: 4.4vw;
	}
}

}

@media screen and (max-width: 680px) {
	
body {
	font-size: 22px;
}

#posts {
	.post-wrapper {
		width: 100%;
	}
	h1 {
		font-size: 8vw;
	}
}

}

@media screen and (max-width: 414px) {
	
body {
	font-size: 20px;
}

}

@media screen and (max-width: 375px) {
	
body {
	font-size: 16px;
}
}