<header>
	<a href="/" id="tlatoy-logo">{% include svg/logo.svg %}</a>
	
	<div id="right-side">
	
		<nav id="top-nav">
			<ol>
				<li><a href="about.html" id="about-link">{% include svg/info.svg %}</a></li>
			</ol>
		</nav>
		
		{% if page.title == nil or page.title == "About" %}
			<audio id="player" autoplay loop src="{{site.baseurl}}/assets/mp3/index.mp3"></audio>
		{% else %}
			<audio id="player" autoplay loop src="{{site.baseurl}}/assets/mp3/{{ page.title | downcase }}.mp3"></audio>
		{% endif %}
			
		<div id="audio-controls" onclick="switchPlayback()">
			{% include svg/play.svg %}
			{% include svg/pause.svg %}
		</div>
	
	</div>
</header>