<meta charset="utf-8">

<title>{{ page.title }} | {{ page.project-name }}</title>
<meta name="author" content="{{ page.author }}" />
<meta name="description" content="{{ page.content | strip_html | truncatewords: 50 }}" />

<meta name="Copyright" content="{{ page.author }}" />

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="/assets/img/favicon.png" />

<link rel="stylesheet" href="/assets/css/reset.css" />
<link rel="stylesheet" href="/assets/css/style.css" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@lifetimesyou" />
<meta name="twitter:title" content="{{ page.title }} | {{ page.project-name }}" />
<meta name="twitter:description" content="{{ page.content | strip_html | truncatewords: 50 }}" />
<meta name="twitter:url" content="http://thelifeandtimesofyou.com/{{ page.url }}" />
<meta name="twitter:image" content="http://thelifeandtimesofyou.com/assets/img/{{ page.date | date: '%Y-%m-%d'}}-{{ page.title | downcase }}.png" />

<meta property="og:title" content="{{ page.title }} | {{ page.project-name }}" />
<meta property="og:description" content="{{ page.content | strip_html | truncatewords: 50 }}" />
<meta property="og:url" content="http://thelifeandtimesofyou.com/{{ page.url }}" />
<meta property="og:image" content="http://thelifeandtimesofyou.com/assets/img/{{ page.date | date: '%Y-%m-%d'}}-{{ page.title | downcase }}.png" />

<style>
	
	::selection {
		color: {{ page.color2 }};
		background: {{ page.color1 }};
	}
	
	html {
		background-color: {{ page.color2 }};
	}
	
	body {
		{% if page.color21 == "" or page.color21 == nil %}
			background-color: {{ page.color2 }};
		{% else %}
			background: -webkit-linear-gradient({{ page.color2 }} 0%, {{ page.color21 }} 100%);
		{% endif %}
		color: {{ page.color1 }}
	}
	
	svg {
		fill: {{ page.color1 }}
	}
	
	header #audio-controls svg {
		fill: {{ page.color1 }};
	}
	
</style>

<link href="https://fonts.googleapis.com/css?family=Lato:900|Merriweather:400,400i" rel="stylesheet">