<!doctype html>

<head>
	{% include layout/head.html %}
	
	<style>
		#post article {
			margin-bottom: 6em;
		}
	</style>
</head>

<body id="post">

	<header>
		<a href="/" id="tlatoy-logo">{% include svg/logo.svg %}</a>
		{% include layout/header-nav.html %}
	</header>
	
	<h1 id="title">{{ page.title }}</h1>

	<article>
		{{ content }}
	</article>
	
<button id="font-button" onclick="switchFont()" style="position: fixed; bottom: 2em; left: 2em;"></button>

<script src="{{site.baseurl}}/assets/js/functions.js"></script>

</body>
</html>