<!doctype html>

<head>
	{% include layout/head.html %}
</head>

<style>
	html {
		background-color: {{ page.color2 }};
	}
	body {
		background: -webkit-linear-gradient({{ page.color2 }} 0%, {{ page.color3 }} 100%);
	}
</style>

<body id="post">

	<header>
		<a href="/" id="tlatoy-logo">{% include svg/logo.svg %}</a>
		
	  	<audio id="player" autoplay loop src="{{site.baseurl}}/assets/mp3/{{ page.date | date: '%Y-%m-%d'}}-{{ page.title | downcase }}.mp3"></audio>
	  	
		<div id="audio-controls" onclick="switchPlayback()">
			{% include svg/play.svg %}
			{% include svg/pause.svg %}
		</div>
		
	</header>
	
	<h1 id="title">{{ page.title }}</h1>

	<article>
		{{ content }}
	</article>
	
	<span id="date">{{page.date | date: '%B %d, %Y'}}</span>

<script src="{{site.baseurl}}/assets/js/functions.js"></script>

</body>
</html>