<!doctype html>

<head>
	{% include layout/head.html %}
	
	<style>
		article div p {
			background: -webkit-linear-gradient({{ page.color1 }}, {{ page.color2 }});
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			padding-bottom: 0;
		}
		article div a {
			color: {{ page.color2 }};
			background-color: {{ page.color1 }};
		}
		#post article {
			margin-bottom: 6em;
		}
	</style>
</head>

<body id="post">

	<header>
		<a href="/" id="tlatoy-logo">{% include svg/logo.svg %}</a>
		
	  	<audio id="player" autoplay loop src="{{site.baseurl}}/assets/mp3/{{ page.date | date: '%Y-%m-%d'}}-{{ page.title | downcase }}.mp3"></audio>
	  	
		<div id="audio-controls" onclick="switchPlayback()">
			{% include svg/play.svg %}
			{% include svg/pause.svg %}
		</div>
		
	</header>
	
	<h1 id="title">{{ page.title }}</h1>

	<article>
		{{ content }}
	</article>

<script src="{{site.baseurl}}/assets/js/functions.js"></script>

<script>
	var article = document.getElementsByTagName("article")[0]
	var paragraphs = document.getElementsByTagName("p")
	var lastParagraph = paragraphs[paragraphs.length - 1]
	var wrapper = document.createElement("div")
	wrapper.setAttribute("id", "last-paragraph")
	
	var link = document.createElement("a")
	link.innerHTML = "↓"
	link.setAttribute("href", "{{ page.next.url }}")
	
    article.appendChild(wrapper)
    wrapper.appendChild(link)
    wrapper.appendChild(lastParagraph)
</script>

</body>
</html>