<!doctype html>

<head>

	<meta charset="utf-8">

	<title>{{ page.name }} | {{ page.title }}</title>
	<meta name="author" content="{{ page.author }}" />
	<meta name="description" content="" />

	<meta name="Copyright" content="{{ page.author }}" />

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/assets/css/reset.css" />
	<link rel="stylesheet" href="/assets/css/style.css" />

	<meta name="twitter:card" content="">
	<meta name="twitter:site" content="">
	<meta name="twitter:title" content="{{ page.name }} | {{ page.title }}">
	<meta name="twitter:description" content="">
	<meta name="twitter:url" content="">

	<meta property="og:title" content="{{ page.name }} | {{ page.title }}" />
	<meta property="og:description" content="" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />
	
	<style>
		
		body {
			background-color: {{ page.color2 }};
			color: {{ page.color1 }}
		}
		
		svg {
			fill: {{ page.color1 }}
		}
		
		header a svg {
			fill: {{ page.color1 }}
		}
		
		header #audio-controls svg {
			fill: {{ page.color1 }};
		}
		
		@media screen and (max-width: 1020px) {
			header {
				background-color: {{ page.color2 }};
			}
		}
		
	</style>
	
	<link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i" rel="stylesheet">

</head>

<body id="post">

	<header>
		<a href="/" id="tlatoy-logo">{% include svg/logo.svg %}</a>

		<audio id="player" autoplay loop src="{{site.baseurl}}/assets/mp3/{{ page.date | date: '%Y-%m-%d'}}-{{ page.title | downcase }}.mp3"></audio>
			
		<div id="audio-controls" onclick="switchPlayback()">
			{% include svg/play.svg %}
			{% include svg/pause.svg %}
		</div>
		
	</header>
	
	<div id="title">
		{{ page.title | uppercase }}
	</div>

	<article>
		{{ content }}
	</article>
	
	<span id="date">{{page.date | date: '%B %d, %Y'}}</span>

<script src="{{site.baseurl}}/assets/js/functions.js"></script>

</body>
</html>